<!DOCTYPE html>
<html>
  <head>
    <title>Hello World</title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/styles.css">

  </head>
  <body>
        <div class="names-day">
            <h1 class="names-day__heading">Vārda dienas</h1>
             <h3 class="names-day__names">
                <%= namesDayNames %>
             </h3>
        </div>
        <div style="display: flex; gap: 10px;">
            <% for (let i = 0; i < news.length; i++) { %>
                <div>
                    <h1>Populārākā <%= news[i].name %> ziņa</h1>
                    <a href="<%= news[i].data.articleUrl %>" target="_blank">
                        <img src="<%= news[i].data.imageSrc %>" alt="<%= news[i].data.headingText %>" width="400">
                        <h2><%= news[i].data.headingText %></h2>    
                    </a>
                </div>
            <% } %>
        </div>
        <h1>Bitcoin vērtība</h1>
        <h2><%=bitcoinValue%></h2>
  </body>
</html>